body {
	background: white;
}

header {
	border: 10px dashed #20B2AA;
	padding: 10px;
	text-align: center;
	font: 2em Georgia;
	margin: 10px;
}

h1 {
	font: 2em Georgia;
	text-align: center;
	padding: 15px;
	margin: 10px;
}

footer {
	font: 1em Georgia;
	text-align: center;
}

